body
{
    padding-top: 5rem;
}
.textbx
{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 300px;
  padding-left: 15px;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  /*display: inline-block;*/
}

#btn {
  border: 2px solid gray;
  color: blue;
  background-color: white;
  padding: 8px 8px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.upload-btn
{
  color: white;
}

ul
{
 list-style-type: none;
}